<div class="nav">
<div class="nav navbar pull-left navbar-brand">We Want Startups!</div>
<div class="nav navbar pull-right">
  <form class="navbar-form form-horizontal">
    <input class="form-control" name="username" placeholder="Aye You"/>
    <input class="form-control" name="password" type="password" placeholder="Password" />
    <button class="btn btn-primary"><i class="glyphicon glyphicon-ok-circle"></i><span> Log in</span></button>
    <a href="#" class="btn btn-link" ng-click="openRegistration()">Register</a>
  </form>
  <div ng-include="'app/registration/registration.html'"></div>
</div>
 </div>